.right-wrong{
    display: flex;
    justify-content: center;
}
.next-level-button{
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.final-level{
    display: flex;
    justify-content: center;
}

.instructions{
    display:flex;
    justify-content: center;
}

.start_button{
    display: flex;
    justify-content: center;
}