.GameFrontEndDiv {
    margin: 0 4rem;
}
.Header {
    display: block;
}

.HeaderTitleMenu {
    display: flex;
    width: 100%;
    height: fit-content;
}
.HeaderTitle {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #9593FF;
    font-family: sans-serif;
    font-size: xxx-large;
    font-weight: bolder;
    margin: 0;
    
}

.HeaderMenus {
    display: flex;
    position: absolute;
    left: 10rem;
    top: -0.25rem;
}

.Options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}